body{
	color: #333;
}

.holder{
	width: 953px;
	margin: 0 auto;
	overflow: hidden;
}


.nav-style{
	-webkit-box-shadow:0 1px 0 0 rgba(171,199,101,0.23);
	box-shadow:0 1px 0 0 rgba(171,199,101,0.23);
	background:-webkit-linear-gradient(#333, #1a1a1a);
	background:-moz-linear-gradient(#333, #1a1a1a);
	background:-o-linear-gradient(#333, #1a1a1a);
	background:-ms-linear-gradient(#333, #1a1a1a);
	background:linear-gradient(#333, #1a1a1a);
	-pie-background:linear-gradient(#333, #1a1a1a);
	border-bottom: 6px solid #699736;
}

.sidebar-top{
	padding:13px 0 8px;
	background-color: #e3f0d6;
	font-size: 13px;
	text-align: center;
	color: #191b1f
}

.sidebar-content{
	border-top: 1px solid #ddedcd;
	padding:10px;
	background: #fff;
}