body{
	color: #333;
	background-color: #89b556;
	font-size: 12px;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: 85% 0;
}

a{
	color: #0185c6;
}

.holder{
	width: 953px;
	margin: 0 auto;
	word-wrap: break-word;
}

.content-margin-top{
	margin-top: 50px;
}


.nav-style{
	-webkit-box-shadow:0 1px 0 0 rgba(171,199,101,0.23);
	box-shadow:0 1px 0 0 rgba(171,199,101,0.23);
	background:-webkit-linear-gradient(#333, #1a1a1a);
	background:-moz-linear-gradient(#333, #1a1a1a);
	background:-o-linear-gradient(#333, #1a1a1a);
	background:-ms-linear-gradient(#333, #1a1a1a);
	background:linear-gradient(#333, #1a1a1a);
	-pie-background:linear-gradient(#333, #1a1a1a);
	border-bottom: 6px solid #699736;
}

.sidebar-top{
	background-color: #e3f0d6;
	text-align: center;
	color: #191b1f;
	min-height: 17px;
}

.sidebar-top h3{
	font-size: 13px;
	font-weight: bold;
	margin: 0 0;
	padding:13px 0 8px;
}

.sidebar-content{
	padding:0 0;
	background: #fff;
}

a.extra-deal{
	display: block;
	padding:10px;
	position: relative;
	text-decoration: none;
	border-top: 1px solid #ddedcd;
}

a.extra-deal:hover h4, a.extra-deal:hover p{
	text-decoration: underline;
}

.extra-deal h4{
	color: #0981be;
	font-size: 13px;
	font-weight:bold;
	margin: 0 0;
}

.extra-deal p{
	color: #000;
	font-size: 13px;
	margin: 0 0 8px;
}

.extra-deal img{
	float: left;
	border:1px solid #929292
}

.extra-deal .dealDataRight{
	display: inline-block;
	width: 94px;
	position: relative;
	vertical-align: top;
}

.extra-deal .dealDataRight .price, .extra-deal .dealDataRight .value, .extra-deal .dealDataRight .sidebar-btn{
	display: block;
	text-align: center;
}

.extra-deal .dealDataRight .price{
	display: block;
	background-color: #4abeda;
	padding:2px 24px 0 2px;
	color: #fff;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	background-position:-41px -2px;
	width: 104px;
	margin-right: -10px;
	font-weight: bold;
}

.extra-deal .dealDataRight .value{
	background-color: #d7f1f7;
	padding:4px 2px 3px;
	color: #4c4c4c;
	font-size: 11px;
	word-wrap: break-word;
	margin: 0 0 8px;
}

.sidebar-btn{
	border:1px solid #628439;
	background:#699736;
	background:#699736 -webkit-linear-gradient(rgba(255,255,255,0.18), rgba(255,255,255,0));
	background:#699736 -moz-linear-gradient(rgba(255,255,255,0.18), rgba(255,255,255,0));
	background:#699736 -o-linear-gradient(rgba(255,255,255,0.18), rgba(255,255,255,0));
	background:#699736 -ms-linear-gradient(rgba(255,255,255,0.18), rgba(255,255,255,0));
	background:#699736 linear-gradient(rgba(255,255,255,0.18), rgba(255,255,255,0));
	-pie-background:linear-gradient(#82b548, #699736);
	color: #fff;
	-webkit-border-radius:7px;
	border-right: 7px;
	border-width: 1px 1px 0 1px;
	-webkit-box-shadow:inset 1px 1px rgba(255,255,255,0.2), inset 0 -1px rgba(255,255,255,0.1);
	box-shadow: inset 1px 1px rgba(255,255,255,0.2), inset 0 -1px rgba(255,255,255,0.1);
	text-shadow:0 -1px 1px rgba(0,0,0,0.3);
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	transition: background-color 1s;
	font-weight: bold;
	height: 25px;
	line-height: 22px;

	}

	.sidebar-btn:hover, .sidebar-btn:focus{
		background-color:#82b548;
		-pie-background:linear-gradient(#98be69, #89b554);
		-webkit-background-clip:padding;
		-moz-background-clip:padding;
		background-clip:padding-box;
	}

	.content-bg{
		background-color: #fff;
	}

	.bottom-content-bg{
		margin-top: 20px;
		border-radius: 11px;
		-webkit-border-radius:11px;
		background-color: #ddedcc;
	}

	.contentDealTitle{
		padding:14px 16px 22px;
		margin: 0;
		font-size: 30px;
		font-weight: bold;
	}

	.contentDealTitle a{
		color: #252525;
		text-decoration: none;
	}

	.contentDeal-left img{
		width: 100%;
	}

	.contentDeal-info-left h2, .contentDeal-info-right h2{
		font-size: 18px;
		font-weight: bold;

	}

	.contentDeal-info-left h3{
		font-size: 12px;
		font-weight: bold;
	}

	.contentDeal-info-left ul{
		list-style: none;
		margin: 0 0;
		padding:0 0;
		font-size: 12px;
	}

	.contentDeal-info-left ul li span{
		text-decoration: underline;
	}

	.contentDeal-info-left a:hover{
		text-decoration: none;
		color: #0185c6;
	}

	.contentDeal-info-right ul{
		margin:0 16px 0 0;
		padding:0 0;
	}

	.contentDeal-buybtn{
		position: absolute;
		padding: 6px 0 0 4px;
		background-image: url(../img/sprite.png);
		background-repeat: no-repeat;
		width: 287px;
		height: 103px;
		background-position: 50% -35px;
		right: -90px;
		top: -13px;
	}

	.contentDeal-buybtn input{
		width: 160px;
		height: 66px;
		cursor: pointer;
		font-weight: bold;
		color: #fff;
		font-size: 26px;
		border: none;
		background: 0;
		margin-top: 12px;
		float: left;
		margin-left: 64px;
	}

	.contentDeal-buybtn .btnBuyMultiDeal{
		position: absolute;
		left: 15px;
		width: 34px;
		height: 57px;
		cursor: pointer;
		background-image: url(../img/sprite.png);
		background-repeat: no-repeat;
		background-position: 50% -148px;
		top: 24px;
	}

	.contentDeal-buyBox .price{
		margin-top: 80px;
		background-color: #d7f1f7;
		padding: 10px 0;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		line-height: 1.1em;
	}

	.contentDeal-buyBox .savings{
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		border-top:1px solid #fff;	
		overflow: hidden;
	}

	.contentDeal-buyBox .savings span.savings-discount{
		float: left;
		width: 60%;
		display: inline-block;
		background-color: #d7f1f7;
		padding: 10px 0;
	}

	.contentDeal-buyBox .savings span.savings-saving{
		float: right;
		width: 40%;
		display: inline-block;
		border-left: 1px solid #fff;
		background-color: #d7f1f7;
		padding: 10px 0;
	}

	.green-sidebar{
		
		padding-top: 10px;
		
	}

	.merchant-info{
		margin-bottom: 16px;
		padding-bottom: 16px;
		border-bottom: 1px solid #ccc;
	}

	.merchant-info .merchant-website{
		display: block;
	}

	.merchant-info .merchant-website a{
		text-decoration: underline;
		color: #0185c6;
		line-height: 1.5em;
	}

	.mapCanvas iframe{
		margin-bottom: 25px;
		border:1px solid #8cb75a;
	}

	ul.green-sidebar-address{
		list-style: none;
		margin: 0 0;
		padding:0 0;

	}

	ul.green-sidebar-address a{
		color: #0185c6;
	}

	ul.green-sidebar-address a:hover{
		text-decoration: underline;
	}

	ul.green-sidebar-address li.merchantPresents{
		margin-top: 10px;
		font-weight: bold;
		line-height: 1.3em;
		padding-bottom: 10px;
	}

	.bottom-content-right{
		background-color: #fff;
		border-top-right-radius: 11px;
		border-bottom-right-radius: 11px;
	}

	.bottom-content-right h3{
		font-weight: bold;
		font-size: 1.17em;
		line-height: 1.5;
	}

	.bottom-content-right img{
		width: 100%;
		margin: 10px 0;
	}

	.bottom-content-right ul{
		margin:10px 0 10px 0;
		padding: 0 16px 0 0;
		overflow: hidden;
	}

	.bottom-content-right p{
		margin: 10px 0;
	}